<?xml version="1.0"?>
<!-- 
    Nota: como alternativa a modificar a mano este archivo, puede usar la 
    herramienta de administración web para configurar las opciones de la aplicación. Use
    la opción Sitio web->Configuración Asp.Net de Visual Studio.
    Puede encontrar una lista de opciones y comentarios en  
    machine.config.comments que suele encontrarse en
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>



    <connectionStrings>
        <add name="DYNAMICSCS" connectionString="Data Source=10.4.30.12\QA;Initial Catalog=DYNAMICS;User ID=sa;Password=sasx2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.6">

        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </buildProviders>

        <assemblies>
          <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
          <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        </assemblies>
      </compilation>

      <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      </httpHandlers>
    </system.web>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <handlers>
        <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode"  type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </handlers>
    </system.webServer>

</configuration>
